services:
  redis:
    image: redis
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes","--requirepass", "${REDIS_PASSWORD}"]
    restart: unless-stopped

volumes:
  redis_data: